extends layout

block content
  .container-fluid
    main
      p Pole Diversity is a circus performance troupe with an emphasis of pole. It is led by Jody Ryker.
    footer.float-end.fixed-bottom
      a(href='https://github.com/ap-19927/pole-diversity') Github
