extends layout

block content
  main
    d-flex.flex-column.min-vh-500
      p Pole Diversity is a circus performance troupe with an emphasis of pole. It is led by Jody Ryker.
      footer.mt-auto
        a(href='https://github.com/ap-19927/pole-diversity') Github
