extends layout

block content
  .container-fluid
    main
      p Pole Diversity is a circus performance troupe with an emphasis of pole. It is led by Jody Ryker. Please read our <a href='/about/privacy-policy'> privacy policy</a>.
    footer.float-end.fixed-bottom
      p
        a(href='https://github.com/ap-19927/pole-diversity') github
