extends layout

block content
  main
    body
      p Pole Diversity is a circus performance troupe with an emphasis of pole. It is led by the awesome and brilliant Jody Ryker.

  footer
    a(href='https://github.com/ap-19927/pole-diversity') Github
