extends layout

block content
  main
    .d-flex.justify-content-center
      .w-16.p-2
      .d-flex.flex-column
        each post in posts
          .w-66.p-2
            .d-flex.card-wrap
              .w-50.m-3
                a(href='blog/'+post.spine)
                  .img-card
                    img(src='/images/'+post.img, alt=post.title)
              .w-50.p-3
                .d-flex.flex-column
                  p #{post.date}
                  a(href='blog/'+post.spine)
                    h2 #{post.title}
      .w-16.p-2
