extends layout

block content
  main
    .d-flex.justify-content-center
      .p-2
      .p-2
        video(controls='controls' width='800' height='600')
          source(src='/videos/3831.MOV' alt="invert")
      .p-2
    .d-flex.justify-content-center
      .p-2
      .p-2
        img(src='/images/NXKF97121.jpg' alt="performance")
      .p-2
