extends layout

block content
  main
    iframe(src='https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23969696&ctz=America%2FLos_Angeles&showPrint=0&showTitle=0&showCalendars=0&showNav=1&src=cG9sZWRpdmVyc2l0eWJvdEBnbWFpbC5jb20&color=%23039BE5" style="border:solid 1px #777' style='border:solid 1px #777', scrolling='no', width='100%', height='600', frameborder='0')
