extends layout

block content
  main
    .d-flex.justify-content-center
      .w-50.p-2
        .text-center
          a(href='https://forms.gle/FbnxbwjXJoRzKQX99' target='_blank')
            h2 Book Jody for a private lesson.
        br
        br
        .text-center
          h2 Message or follow
          a(href='https://www.instagram.com/polediversity.coach/' target="_blank")
            img.smaller-image(src='images/instagram-logo.png' alt="instagram-logo")
      .w-50.p-2
        .text-center
         a(href='https://forms.gle/S4bm59UCGd1ByvQQ8' target='_blank')
          h2 Book Pole Diversity for an event.
        br
        br
        .text-center
          h2 Message or follow
          a(href='https://www.instagram.com/jody.polediversity/' target="_blank")
            img.smaller-image(src='images/instagram-logo.png' alt="instagram-logo")
