extends layout

block content
  main
    .d-flex.justify-content-center
      .w-50.p-2
        .text-center
          a(href='https://forms.gle/FbnxbwjXJoRzKQX99' target='_blank')
            h2 Book Jody for a private lesson.
      .w-50.p-2
        .text-center
         a(href='https://forms.gle/S4bm59UCGd1ByvQQ8' target='_blank')
          h2 Book Pole Diversity for an event.
